/*
Theme Name: Salient Child Theme
Theme URI: http: //mysite.com/
Description: This is a custom child theme for Salient
Author: My Name
Author URI: http: //mysite.com/
Template: salient
Version: 0.1
*/

/* --General----------------- */
code {
	background-color: inherit;
}
body[data-bg-header="true"] .container-wrap {
	padding-bottom: 0px;
}
#header-outer[data-using-secondary="1"] {
	top: 0 !important;
}
.admin-bar #header-outer[data-using-secondary="1"] {
	top: 31px !important;
}
#ajax-content-wrap {
	margin-top: -33px;
}
.sfScrolledSection {
	overflow-y: scroll;
	height: 70vh;
}
/* ----- different needs --------*/
.scroll-down-wrap {
	text-align: center;
}
.n2-ss-slide-background-image, .n2-ss-slide-fill, .n2-ss-slide, .n2-ss-canvas, .n2-ss-slide-active, .n2-ss-slider-1, .unselectable, .n2-grab, .n2-ss-slider, .n2-ss-load-fade, .n2-ss-desktop, .n2-ss-loaded {
	width: 100% !important;
}
.decoratedDotted {
	background-color: #1E59A1;
	padding: 2px 8px 3px 8px;
}
.n2-arrow-normal-img, #n2-ss-4-arrow-previous, #n2-ss-5-arrow-previous, .n2-arrow-normal-img:hover, #n2-ss-4-arrow-previous:hover, #n2-ss-5-arrow-previous:hover, div#n2-ss-4 .nextend-arrow:hover img.n2-arrow-hover-img, div#n2-ss-5 .nextend-arrow:hover img.n2-arrow-hover-img {
	width: 60px !important;
	height: 60px !important;
}
#page-header-bg .subheader p {
	font-size: 1em;
	padding-bottom: 0em!important;
	margin-bottom: 0px!important;
}
#page-header-bg .subheader {
	font-size: 1.3rem;
}
 #page-header-bg .button {
	padding: 7px 30px;
	display: inline-block;
 }
#basic-links-sf {
	margin-top: 5em;
}
#basic-links-sf .heading-link {
	line-height: inherit;
}
#basic-links-sf h3 {
	line-height: 1;
	padding-top: 0.6em;
}
.nectar-particles h1 {
	padding-right: 50px;
}
/* -------headings, general fonts -------------------*/
body {
	font-size: 100%;
}
#page-header-bg h1 {
	font-size: 2.5em;
}
#sfContent .sfPageHeader {
	margin-top: 1em;
}
.sfPageHeader h1 {
	color: #1e59a1; text-transform: uppercase; font-size: 1.5em; font-weight: 600;
}
/* --- information links ---- */
#sfContent .sfPageHeader img {
	margin: 0 0.5em 0 0;
	display: inline;
	vertical-align: bottom!important;
}
.infoButton a {
	text-transform: uppercase;
	display: inline;
	color: rgb(30, 89, 161);
	vertical-align: bottom;
	display: inline-block;
}
/*---Header(s)-------------------------------------- */
#header-outer[data-full-width="true"] header > .container {
	padding: 0px 28px 5px 28px !important;
}
header#top #logo img {
	position: relative;
	top: 7px;
}
#header-secondary-outer nav ul li a {
	font-size: 16px !important;
	padding: 0 5px 5px 5px !important;
}
#header-secondary-outer {
	position: fixed;
	border: medium none;
	background: none;
	top: 65px !important;
	border: none !important;
}
#header-secondary-outer #social {
	position: relative;
	top: 20px;
	left: 70px;
}
#header-secondary-outer ul.sf-menu {
	position: relative;
	top: -40px;
	left: -20em;
}
.admin-bar #header-secondary-outer ul.sf-menu {
	top: -7px;
}
#header-secondary-outer #social li {
	background: none;
	margin-right: 3px;
	border: none;
	padding: 0;
}
#header-secondary-outer #social li i {
	font-size: 16px !important;
}
#header-secondary-outer #social li a{
	border: none;
	padding: 0 15px !important;
}
#header-secondary-outer .sf-menu li, #header-secondary-outer[data-full-width="true"] > .container nav > ul.sf-menu > li:last-child {
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border-right: 1px solid rgb(170, 170, 170);
	border-left: none;
	border-top: none;
	border-bottom: none;
}
 #header-secondary-outer[data-full-width="true"] > .container nav > ul.sf-menu > li:last-child {
	background: transparent;
	border-right: none;
	border: none;
}
#header-secondary-outer .sf-menu li a {
	border: none !important;
	padding: 0.5em 1em !important;
	line-height: 20px;
	border-radius: 3px;
	box-shadow: none !important;
}
#header-secondary-outer .sf-menu li a:hover {
	color: #ED773Ct;
}
#header-secondary-outer .sf-menu li .submenu {
	display: none;
	position: relative;
	top: -3px;
}
#header-secondary-outer .submenu li {
	background: none;
	border: none !important;
	padding: 0px;
	box-shadow: none;
}
#header-secondary-outer ul ul li {
	border: none !important;
	background: none;
	border-radius: 0px;
}
#header-secondary-outer .sf-menu li ul li {
	border-radius: 0px;	
}
#header-secondary-outer .sf-menu li ul {
	position: relative;
	top: 1px;
}
#header-secondary-outer .sf-menu li ul li a {
	background: none;
}
#header-secondary-outer .sf-menu li ul li a:hover {
	background-color: #ED773C !important;
	color:  #ffffff !important;
}
#header-secondary-outer ul ul li a {
	border: none !important;
	background: none;
}
#header-secondary-outer ul ul li a:hover {
	border: none !important;
	background: none;
}
#header-secondary-outer ul ul:last-child {
	border-radius: 15px;
}
@media only screen and (min-width : 1px) and (max-width : 1000px) {
#header-secondary-outer {
	display: none;
}
}
/* --Titles------------------- */
h1 {
	color: #273d4f;
	font-size: 200%;
}
h2 {
	color: #273d4f;
	font-size: 130%;
}
.col h2 {
	font-weight: inherit;
}
h3, h4, h5, h6, h3 a.heading-link, h4 a.heading-link, h5 a.heading-link, h6 a.heading-link {
	color: #1E59A1;
	font-size: 115%;
	font-weight: 500;
}
.ander_h1 {
	font-size: 155%;
	color: #1E59A1;
}
/* --header buttons ------------------------------ */
header ul a {
	padding: 5px 30px  !important;
	background-color: #ED773C;
	border-radius: 3px;
	color: #ffffff !important;
	font-size: 120% !important;
	font-weight: bold;
	margin-top: 20px !important;
	margin-bottom: 17px !important;
	margin-right: 20px !important;
	border: 2px solid #ED773C;
	line-height: 20px;
}
header ul a:hover {
	background: none;
	color: #ED773C;
}
header li:nth-child(2) a {
	background-color: #ffffff;
	color: #1E59A1 !important;
	border: 2px solid #1E59A1;
	padding: 10px 40px;
	line-height: 20px;
	font-size: 130%;
	font-weight: bold;
	border-radius: 3px;
}
header li:nth-child(2) a:hover {
	background-color: #1E59A1;
	color: #ffffff !important;
}
header .slogan {
	margin-top: 35px;
	font-size: 150%;
	color: #1E59A1 ;
}
.current-menu-item, .current_page_item {
	background-color: transparent;
}
#slide-out-widget-area .inner .off-canvas-menu-container li a {
	font-size: 1.2rem;
	line-height: 2.3em;
}
/* --Buttons ----------------------*/
.sf_link {
	color: #ffffff;
	text-decoration: underline;
}
.sf_link:hover {
	color: #ED773C;
}
.nectar-button span {
	color: #ffffff;
	font-weight: bold;
}
.full-width-section .light .nectar-button:not(.see-through):not(.see-through-2):not(.see-through-3) {
	opacity: 1;
}
 .subheader a.button, a.button, button.button {
	padding: 10px 40px;
	background-color: #ED773C;
	border-radius: 3px;
	color: #ffffff;
/*    font-size: 130%;
*/    font-weight: bold;
	border: 2px solid #ED773C;
	line-height: 20px;
}
.subheader a.button:hover, a.button:hover, button.button:hover {
	background-color: transparent;
	color: #ED773C;
}
.onBtn, .wpcf7-submit, .wpcf7-form input[type="submit"], .facecheck-container-wrap input[type="submit"].light-button {
	background-color: transparent;
	color: #1E59A1;
	border: 2px solid #1E59A1;
	padding: 1em 4em!important;
	line-height: 20px;
	font-weight: bold;
	border-radius: 3px;
}
a.light-button, button.light-button, input.light-button, .light-button {
	background-color: transparent;
	color: #1E59A1;
	border: 2px solid #1E59A1;
	padding: 0.5em 1em!important;
	line-height: 20px;
	font-weight: bold;
	border-radius: 3px;
	position: relative;
	top: 2em;
}
a.light-button:hover, button.light-button:hover, input.light-button:hover, .light-button:hover, .onBtn:hover,  .wpcf7-submit:hover, .wpcf7-form input[type="submit"]:hover, .facecheck-container-wrap input[type="submit"].light-button:hover {
	border: 2px solid #1E59A1;
	color: #ffffff;
	background-color: #1E59A1 !important;
}
a.gray-light-button, button.gray-light-button {
	background-color: transparent;
	color: #777;
	border: 2px solid #ADADAD;
	padding: 0.5em 1em;
	line-height: 20px;
	font-weight: bold;
	border-radius: 3px;
}
a.gray-light-button:hover, button.gray-light-button:hover {
	border: 2px solid #1e59a1;
	color: #ffffff;
	background-color: #1e59a1;
}
.wpcf7-submit, .wpcf7-form input[type="submit"] {
	background-color: transparent !important;
	color: #1E59A1 !important;
	border: 2px solid #1E59A1 !important;
	text-transform: uppercase;
	font-size: 18px;
}
.wpcf7-submit:hover, .wpcf7-form input[type="submit"]:hover {
	border: 2px solid #1E59A1 !important;
	color: #ffffff !important;
	background-color: #1E59A1 !important;
}
.light .wpcf7-submit, .light .wpcf7-form input[type="submit"] {
	background-color: transparent !important;
	color: #ffffff !important;
	border: 2px solid #ffffff !important;
	text-transform: uppercase;
}
.light .wpcf7-submit:hover, .light .wpcf7-form input[type="submit"]:hover {
	border: 2px solid #ffffff !important;
	color: #1E59A1 !important;
	background-color: #ffffff !important;
}
a.dark-button, button.dark-button, .offBtn {
	background-color: #1E59A1;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 0.5em 1em;
	line-height: 20px;
	font-weight: bold;
	border-radius: 3px;
}
a.dark-button:hover, button.dark-button:hover, .offBtn:hover {
	background-color: #6d6e70;
}
a.white-orange-button, button.white-button {
	background-color: transparent;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 0.5em 1em;
	line-height: 1em;
	font-weight: bold;
	border-radius: 3px;
}
a.white-orange-button:hover, button.white-button:hover {
	border: 2px solid #ffffff;
	color: #E8753B;
	background-color: #ffffff;
}
a.white-blue-button, button.white-button {
	background-color: transparent;
	color: #ffffff;
	border: 2px solid #ffffff;
	padding: 0.5em 1em;
	line-height: 20px;
	font-weight: bold;
	border-radius: 3px;
}
a.white-blue-button:hover, button.white-button:hover {
	border: 2px solid #ffffff;
	color: #1E59A1;
	background-color: #ffffff;
}
.col_last a.dark-button {
	float: right;
}
.servise-button {
	position: relative;
	top: 20px;
}
.rounded-button {
	background-color: #1E59A1;
	color: #ffffff;
	padding: 0.3em 2em;
	line-height: 20px;
	border-radius: 20px;
}
.prima-button {
	background-color: #ED773C;
	padding: 0.3em 4em;
	font-size: 130%;
}
.sfFormButton {
	margin-top: 2em;
	text-transform: uppercase;
		
}
.sfFormButton:hover {
	background-color: #1E59A1 !important;
}
/* --- Open/Close buttons ------------- */
.row .col img.close-icon, .close-icon {
	width: 45px;
	padding: 10px;
	border-radius: 5px;
}
.close-icon:hover {
	background-color: #E8753B;
}
/* --footer menu ------------------------------------ */
#footer-outer .menu-sf-inline-footer-container {
	bottom: 10px;
	left: 0;
	position: absolute;
	display: inline;
	width: 100%;
}
#menu-sf-inline-footer {
	font-size: 0.84em;
}
#footer-outer .widget.widget_nav_menu ul li, #footer-outer .widget.widget_nav_menu ul li a {
	display: inline !important;
	margin-right: 0.5em;
}
#footer-outer .span_6 {
	width: 100% !important;
	text-align: center;
	margin-bottom: 0 !important;
}
#copyright .span_5 {
	width: 100% !important;
}
#nav_menu-2 {
	font-size: 150%;
}
#footer-outer .widget.widget_nav_menu li {
	padding: 0px;
	padding-left: 20px !important;
}
#footer-outer #footer-widgets .col ul li {
	border: none !important;
}
#footer-outer #footer-widgets .col ul li {
	border-bottom: none;
}
span.wpcf7-not-valid-tip {
	background-color: transparent;
}

/* --Toggles ----- */
/* ----- linear toggles ---------- */
.toggle h3 a {
	font-size: 16px !important;
}
.custom-toggle h3 .icon-plus-sign:before {
	content: "";
}
.custom-toggle h3 a:after {
	content: "Далее";
}
.extra-width-toggle .toggles .toggle div {
	width: 25.5em;
	position: relative;
	left: -5em;
}
.hiddenDescription {
	background-color: #1E59A1;
	padding: 14px 14px 16px 14px;
	text-decoration: underline;
	font-size: 120%;
}
.hiddenDescription:before {
	content: url(/wp-content/uploads/2015/10/1449163502_18_Open.png);
	padding-right: 13px;
}
.visibleDescription {
	background-color: #154682;
	padding: 14px 14px 16px 14px;
	font-size: 120%;
}
.visibleDescription:before {
	content: url(/wp-content/uploads/2015/12/1449163502_18_Close.png);
	padding-right: 13px;
}
.descriptionSection {
	margin-bottom: 10px;
	border: 2px solid rgb(21, 70, 130);
	padding-left: 1.5em;
	padding-bottom: 20px;
}
.closeDescrBtn {
	float: right;
	padding: 14px;
	position: relative;
	top: -28px;
	border: 2px solid #154682;
	font-size: 120%;
}
/* ------ team toggles ---- */
.expertImage {
	text-align: center;
	border-radius: 500px;
	display: inline-block !important;
	border: 4px solid #fff;
	box-shadow: 0px 5px 10px #333;
	cursor: pointer;
}
.teamExpert {
	width: 32%;
	margin-right: 2%;
	float: left;
	text-align: center;
}
.teamExpert a {
    color: inherit;
    cursor: pointer;
}
.teamDescriptionSection {
	margin-top: 1.5em;
	text-align: justify;
	padding: 15px;
	text-indent: 3em;
	font-size: 0.8em;
}
.teamDescriptionSection p {
	color: #eeeeee;
}
.expertName {
	text-align: center;
	margin-top: 1em;
}
.expertJob {
	text-align: center;
	color: #AAAAAA !important;
	font-weight: 700;
}
.full-width-section .team-member img {
	width: 300px;
	height: 124px;
}
/* ------ bubbled toggles ------- */
.big-circle {
	width: 450px;
	height: 450px;
	background-color: #F5F4F5;
	border-radius: 500px;
}
.big-circle-text {
	width: 450px;
	height: 450px;
	background-color: #F5F4F5;
	border-radius: 500px;
	padding: 90px;
	border: 3px solid #E8753B;
	text-align: justify;
}
.onSphere div .small-circle {
	width: 80px;
	height: 80px;
	background-color: #F5F4F5;
	border-radius: 500px;
	padding: 20px;
	float: right;
	border: 3px solid #E8753B;
}
.onSphere div .small-circle:hover {
	
}
.offSphere div .small-circle {
	width: 80px;
	height: 80px;
	background-color: #1E59A1;
	border-radius: 500px;
	padding: 12px;
	float: right;
	border: 3px solid #1E59A1;
}
.offSphere div .small-circle:hover {
	background-color: #E8753B;
	border: 3px solid #E8753B;
}
ul.pageNumbers {
	text-align: center;
	padding-top: 0.5em;
	margin: 0px;
}
ul.pageNumbers li {
	list-style: outside none none;
	display: inline;
}
ul.pageNumbers li:hover {
	color: #000000;
}
.big-circle-text p {
	height: 280px;
}
/* --------Google Map ------------------*/
.circledMap .nectar-google-map {
	width: 450px;
	height: 450px;
	border-radius: 1000px;
	border: thick solid #ffffff;
	box-shadow: 0px 15px 20px #bbb;
}
/* ------icon for section 'About service'------------*/
i.linecon-icon-clock::before {
	content: url('https://scanface.ua/wp-content/uploads/2016/02/icon-год_30x90.png');
}
i.linecon-icon-clock:hover::before {
	content: url('https://scanface.ua/wp-content/uploads/2016/02/icon-год2_30x90.png');
}
i.linecon-icon-t-shirt::before {
	content: url('https://scanface.ua/wp-content/uploads/2016/01/icon-sofa-33x902.png');
}
i.linecon-icon-t-shirt:hover::before {
	content: url('https://scanface.ua/wp-content/uploads/2016/01/icon-sofa-33x90біла.png');
}
i.linecon-icon-params::before {
	content: url('https://scanface.ua/wp-content/uploads/2016/02/icon-функц_30x90.png');
}
i.linecon-icon-params:hover::before {
	content: url('https://scanface.ua/wp-content/uploads/2016/02/icon-функц2_30x90.png');
}
/* -------CAROUSEL--------------*/
.caruselPrevConteiner {
	width: 5%;
	float: left;
	padding-top: 55px;
}
.caroufredsel_wrapper {
	float: left !important;
}
.caruselNextConteiner {
	width: 5%;
	float: right;
	padding-top: 55px;
}
.caruselPrevConteiner a.carousel-prev {
	right: inherit;
}
.caruselPrevConteiner a.carousel-prev, .caruselNextConteiner a.carousel-next, .caruselPrevConteiner a.carousel-prev:hover, .caruselNextConteiner a.carousel-next:hover, a.carousel-prev, a.carousel-next, a.carousel-prev:hover, a.carousel-next:hover {
	background-color: transparent !important;
}
.caruselPrevConteiner .icon-angle-left::before, .caruselNextConteiner .icon-angle-right::before, .icon-angle-left::before, .icon-angle-right::before {
	color: #1E59A1;
}
.caruselPrevConteiner .icon-angle-left:hover::before, .caruselNextConteiner .icon-angle-right:hover::before, .icon-angle-left:hover::before, .icon-angle-right:hover::before {
	color: #ED773C;
}
.caruselPrevConteiner i, .caruselNextConteiner i, i.icon-angle-left, i.icon-angle-right {
	font-size: 50px;
}
.arrows-for-carousel {
	text-align: center;
}
.carousel-wrap .item-count {
	font-size: 1em;
	width: 100%;
	text-align: center;
	position: relative;
	top: 2em;
	display: none;
}
.carousel-wrap .carousel-heading {
	margin-bottom: 2em;
}
.carousel-heading .container .carousel-prev {
	right: auto !important;
}
.carousel-heading h2 {
	max-width: 100% !important;
}
.arrows-for-carousel p {
	float: left;
	width: 50px;
}
.arrows-for-carousel h2 {
	width: 100%;
	text-align: center;
	color: #273d4f;
	font-size: 130%;
	margin-left: 0px;
}
.carousel-heading h2 {
	text-align: center;
	color: rgb(39, 61, 79);
	font-size: 130% !important;
}
.carousel-wrap .control-wrap {
	width: 100%;
}
.carousel-wrap .control-wrap .carousel-prev i {
	left: 5px;
}
.carousel-wrap[data-full-width="false"] .carousel-heading h2.uppercase {
	font-size: 130% !important;
}
/* --------testimotions carusel -------*/
.team-member p.description, .row .col .team-member p.description {
	margin-bottom: 0px;
	border-bottom: none;
}
.team-member .position {
	height: 50px;
	width: 80%;
	margin-left: 10%;
}
.team-member {
	text-align: center;
}
/* --- testimotions on price page ----- */
.priceTestimSection .testimonial_slider p {
	font-size: 90%;
}
.priceTestimSection .testimonial_slider .image-icon.has-bg {
	width: 300px;
	height: 124px;
}
/* ------SLIDERS ----------------- */
/* ----nectar slider ----*/
div.swiper-container, div.swiper-slide {
	background-color: transparent !important;
}
.swiper-container .slider-prev {
	background-color: transparent;
	left: 0;
	width: 100px !important;
}
.swiper-container .slider-next {
	background-color: transparent;
	right: 0;
	width: 100px !important;
}
.swiper-container .slider-prev:hover, .swiper-container .slider-next:hover {
	background-color: transparent;
}
.swiper-container .slider-prev i.icon-salient-left-arrow {
	display: none;
}
.swiper-container .slider-next i.icon-salient-left-arrow {
	display: none;
}
.slider-prev .icon-salient-left-arrow::before {
	content: url('');
}
.slider-next .icon-salient-right-arrow::before {
	content: url('');
}
.swiper-container .slider-prev, .swiper-container .slider-next {
	top: 50px;
	height: 100%;
}
.swiper-container .slider-prev .slide-count, .swiper-container .slider-next .slide-count {
	top: 60px;
	display: none;
}
.swiper-container[data-bullet_style="scale"] .slider-pagination .swiper-pagination-switch:hover i {
	background-color: #6D6E70;
}
.swiper-container[data-bullet_style="scale"] .slider-pagination .swiper-active-switch i {
	background-color: #6D6E70;
}
/* -------------CONTACTS ------------*/
.iwithtext .iwt-icon img {
	width: 50px;
}
.iwithtext .iwt-text {
	padding-left: 75px;
	font-size: 130%;
}
.socialIcons .one-fifth {
	display: inline-block;
	float: left;
	width: 20%;
}
.container-wrap .nectar-google-map .gm-style {
border-radius: 50%;
}
.container-wrap .nectar-google-map div {
border-radius: 50%;
}

.sf-contact {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.sf-contact .map {
	flex-basis: 450px;
}

.sf-contact .adress {
	flex-basis: 49%;
}

#srm_gmp_embed_1 {
	min-height: 450px;
	border-radius: 1000px;
	border: thick solid #ffffff;
	box-shadow: 0px 15px 20px #bbb;
}
.sf-contact h1 {
	font-size: 26px!important;
	margin-bottom: 0;
}

.adress-office {
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 35px;
}

.adress-office img {
	margin-right: 1.5rem;
}

.adress-office p:nth-of-type(2) {
	font-size: 20px;
}

.sf-contact-form {
	padding: 50px 15% 0px;
}

.sf-contact-form h2 {
	margin-top: 35px;
	margin-bottom: 30px;
	font-size: 26px;
}

.sf-contact-form form p:nth-of-type(5) {
	text-align: center;
}

@media all and (max-width: 1024px) {
.sf-contact-form {
    padding: 25px 15% 0px 0;
}
}

/* ------- Contact Form 7 -------------*/
.wpcf7-form input {
	border-left: 5px solid rgb(30, 89, 161);
}
.light .wpcf7-form input {
	border-left: 5px solid #ED773C;
}
.wpcf7-form input[type="submit"] {
	border: none;
}
.wpcf7-form textarea {
	border-bottom: 8px solid rgb(30, 89, 161);
}
.wpcf7-form p {
	margin-bottom: 20px;
}
input[type="text"], textarea, input[type="email"], input[type="password"], input[type="tel"], input[type="url"], input[type="search"], input[type="date"] {
	font-size: 18px;
}
.wpb_wrapper h1 {
	font-size: 26px !important;
}
.wpcf7 .wpcf7-response-output {
	background-color: transparent;
	clear: both;
	float: right;
	margin-top: 2em;
	width: 100%;
	text-align: center;
}
div.wpcf7-mail-sent-ok {
	border: none;
}
.wpcf7-form .wpcf7-not-valid-tip {
	box-shadow: none;
	text-align: center;
}
#subscribeForm .wpcf7-validation-errors {
	clear: both;
	border: medium none !important;
	color: rgb(255, 255, 255) !important;
	padding-top: 2em;
	width: 100%;
	text-align: center;
}
#subscribeForm div.wpcf7 img.ajax-loader {
	margin-left: 1em;
	display: inline;
	float: right;
	top: -1em;
	position: relative;
	width: 65px;
	height: 65px;
}
div.wpcf7-response-output {
	margin: 0;
	padding: 0;
}
input[type="text"], textarea, input[type="email"], input[type="password"], input[type="tel"], input[type="url"], input[type="search"], input[type="date"] {
	border-bottom: none;
}
input.wpcf7-not-valid {
	border: 2px solid #ED773C;
}
.cta-form-header {
	display: inline;
	float: left;
	margin-right: 1em;
	margin-bottom: 0;
	color: rgb(221, 221, 221);
}
.cta-form-input-name {
	display: inline;
	float: left;
	margin-right: 1em;
	width: 18%;
	margin-bottom: 0;
}
.cta-form-input-email {
	display: inline;
	float: left;
	margin-right: 1em;
	width: 25%;
	margin-bottom: 0;
}
div.wpcf7 img.ajax-loader {
	position: absolute;
}
/* ----------SPRITES---------------*/
.contSprite {
	background-image: url('/wp-content/uploads/2016/04/contSprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}

.sprite-cont-fb {
	width: 82px;
	height: 92px;
	background-position: -5px -5px;
}

.sprite-cont-fb:hover {
	width: 82px;
	height: 92px;
	background-position: -97px -5px;
}

.sprite-cont-google {
	width: 82px;
	height: 92px;
	background-position: -189px -5px;
}

.sprite-cont-google:hover {
	width: 82px;
	height: 92px;
	background-position: -5px -107px;
}

.sprite-cont-home {
	width: 50px;
	height: 50px;
	background-position: -281px -5px;
}

.sprite-cont-home-alt {
	width: 50px;
	height: 50px;
	background-position: -281px -65px;
}

.sprite-cont-linkedin {
	width: 82px;
	height: 92px;
	background-position: -97px -107px;
}

.sprite-cont-linkedin:hover {
	width: 82px;
	height: 92px;
	background-position: -189px -107px;
}

.sprite-cont-ok {
	width: 82px;
	height: 92px;
	background-position: -5px -209px;
}

.sprite-cont-ok:hover {
	width: 82px;
	height: 92px;
	background-position: -97px -209px;
}

.sprite-cont-twitter {
	width: 82px;
	height: 92px;
	background-position: -189px -209px;
}

.sprite-cont-twitter:hover {
	width: 82px;
	height: 92px;
	background-position: -341px -5px;
}

.sprite-cont-vk {
	width: 82px;
	height: 92px;
	background-position: -341px -107px;
}

.sprite-cont-vk:hover {
	width: 82px;
	height: 92px;
	background-position: -281px -209px;
}
.projSprite {
	background-image: url('/wp-content/uploads/2016/05/projSprite-newBrain.png');
	background-repeat: no-repeat;
	display: inline-block;
}
#viewerBoxBtn1 {
	cursor: pointer;
}
#viewerBoxBtn2 {
	cursor: pointer;
}
#viewerBoxBtn3 {
	cursor: pointer;
}
.sprite-projAbout-business {
	width: 162px;
	height: 162px;
	background-position: -10px -10px;
}

.sprite-projAbout-interperson {
	width: 162px;
	height: 162px;
	background-position: -192px -10px;
}

.sprite-projAbout-staff {
	width: 162px;
	height: 162px;
	background-position: -374px -10px;
}

.sprite-projCTA-logo {
	width: 244px;
	min-width: 244px;
	height: 52px;
	background-image: url('/wp-content/uploads/2017/01/logo_SF_white251x60-2.png');
}

.sprite-projScience-Jung {
	width: 250px;
	height: 250px;
	background-position: -254px -192px;
	cursor: pointer;
}

.sprite-projScience-MBTI {
	width: 250px;
	height: 250px;
	background-position: -556px -10px;
	cursor: pointer;
}

.sprite-projScience-brain {
	width: 250px;
	height: 250px;
	background-position: -524px -280px;
	cursor: pointer;
}

.sprite-projTech-physiognomy {
	width: 140px;
	height: 140px;
	background-position: -826px -10px;
}

.sprite-projTech-physiology {
	width: 140px;
	height: 140px;
	background-position: -794px -450px;
}

.sprite-projTech-psychology {
	width: 140px;
	height: 140px;
	background-position: -180px -610px;
}
.mainSprite {
	background-image: url('/wp-content/uploads/2016/04/mainSprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}

.sprite-mainBenef-parlor {
	width: 162px;
	height: 162px;
	background-position: -5px -5px;
}

.sprite-mainBenef-recomm {
	width: 162px;
	height: 162px;
	background-position: -177px -5px;
}

.sprite-mainBenef-report {
	width: 162px;
	height: 162px;
	background-position: -5px -177px;
}

.sprite-mainDescr-HR {
	width: 100px;
	height: 100px;
	background-position: -177px -177px;
}

.sprite-mainDescr-patent {
	width: 100px;
	height: 100px;
	background-position: -349px -5px;
}

.sprite-mainDescr-utility {
	width: 100px;
	height: 100px;
	background-position: -349px -115px;
}

.sprite-mainDescr-veracity {
	width: 100px;
	height: 100px;
	background-position: -287px -225px;
}

.groupSprite {
	background-image: url('/wp-content/uploads/2017/08/teamSprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}

.sprite-groupTeamGrig {
	width: 150px;
	height: 150px;
	background-position: 0px 0px;
}

.sprite-groupTeamTatiana {
	width: 150px;
	height: 150px;
	background-position: -154px 0px;
}

.sprite-groupTeamMaeve {
	width: 150px;
	height: 150px;
	background-position: -5px -151px;
}

.sprite-groupTeamYana {
	width: 150px;
	height: 150px;
	background-position: -154px -157px;
}

.sprite-groupTeamYuliia {
	width: 150px;
	height: 150px;
	background-position: 0px -300px;
}

.sprite-groupTeamJane {
	width: 150px;
	height: 150px;
	background-position: -154px -305px;
}

/* ----- Price Table sprites ----- */
.spritePT {
	background-image: url('/wp-content/uploads/2016/05/spritesPriceTable.png');
	background-repeat: no-repeat;
	display: inline-block;
}

.spritePT-accent {
	width: 28px;
	height: 39px;
	background-position: -5px -5px;
}

.spritePT-bottompointAccent {
	width: 25px;
	height: 37px;
	background-position: -43px -5px;
}

.spritePT-buttompointAccent {
	width: 25px;
	height: 37px;
	background-position: -43px -52px;
}

.spritePT-topangle {
	width: 25px;
	height: 25px;
	background-position: -78px -5px;
}

.spritePT-topangleAccent {
	width: 25px;
	height: 25px;
	background-position: -78px -40px;
}

.spritePT-toppoint {
	width: 25px;
	height: 25px;
	background-position: -5px -75px;
}

.spritePT-toppointAccent {
	width: 25px;
	height: 25px;
	background-position: -78px -75px;
}

/* ----------PRICE TABLE ---------------*/
/*.priceRowHead {
	width: 100%;
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 7em;
	margin-bottom: 0 !important;
}
.prFreeSpace {
	width: 18%;
	margin-left: 2%;
	float: left;
	height: 5.5em;
}*/
.prHeadCel {
	margin-left: 2%;
	float: left;
	width: 100%;
	padding-right: 5px;
	height: auto;
}
.priceHeading {
	width: 100%;
	background-color: #ADADAD;
	color: rgb(255, 255, 255);
	padding: 0.5em;
	height: 4em;
	text-align: center;
}
.priceHeading h2 {
	margin-bottom: 0;
}
.prSelectedHead {
	background-color: #1E59A1;
}
.prSelectedHead::after {
	content: url('/wp-content/uploads/2016/05/accent.png');
	position: relative;
	top: -4em;
	left: 4em;
}
.priceHeading h2 {
	vertical-align: middle;
	line-height: unset;
	color: #fff;
	font-size: 0.9rem;
	text-align: left;
}
.priceTerm {
	color: rgb(237, 119, 60);
	text-align: right;
	height: 2em;
	padding-top: 0em;
	padding-right: 1.5em;
	font-size: 1.2rem;
}

/*.priceRow {
	width: 100%;
	margin: 0px;
	padding: 0px;
	border-bottom: 1px solid rgb(30, 89, 161);
	height: 3em;
	clear: both;
	margin-bottom: 0 !important;
}
.prRowLast {
	border-bottom: 0;
	height: 4.5em;
}*/
.prRowCel {
	margin-left: 2%;
	float: left;
	height: 3em;
	width: 100%;
	border-bottom: 1px solid;
}
.prRowLast .prRowCel {
	height: 4.5em;
}
.prFeatures {
	color: #1E59A1; 
}
.sfpt_features {
	font-size: 1rem;	
}
.prRowPositive {
	text-align: right;
}
.prPlus, .prMinus {
	padding-right: 2em;
	float: right; 
	margin-right: 2em;
	border-right: 1px solid #ADADAD;
	height: 100%;
	padding-top: 0.5em;
	font-size: 1rem;
}
.prText {
	font-size: 0.8em;
	margin-right: 2.5em;
	padding-right: 2em;
	float: right;
	border-right: 1px solid #ADADAD;
	height: 100%;
	padding-top: 0.5em;
}

.prMinus {
	color: transparent;
}
.prSelected .prPlus, .prSelected .prMinus {
	border-right: 1px solid #1E59A1;
}
.prRowNegative {}

.priceRowButtons {
	width: 100%;
	margin: 0px;
	padding: 0px;
	clear: both;
	height: 5em;
}
.prButtonCel {
	width: 100%;
	margin-left: 10%;
	float: left;
	height: 3em;
}
.prPrice {
	color: rgb(237, 119, 60);
	text-align: right;
	height: 1.4em;
	padding-right: 0.5em;
	font-size: 1rem;
}
.prButton {}
.prButton a {
	float: right;
}
.prGraphElements {
	width: 100%;
	height: 25px;
	overflow: hidden;
}
.prTopDot {
	float: right;
	font-size: 1.5em;
	margin-right: 0.6em;
}
.prDziobyk {
	float: right;
	font-size: 1.5em;
	margin-right: 1.2em;
}
.prBottomDot {
	float: right;
	font-size: 1.5em;
	margin-right: 1.5em;
}
.sfpt_column {
	display: inline-block;
	width: 16%;
	margin-right: -3px;
	margin-bottom: 0 !important;
}
.sfpt_description {
	width: 27%;
	margin-right: -2px;
	margin-bottom: 3em !important;
}

@media all and (max-width: 1280px) {
.sfpt_features {
	font-size: 0.9rem;	
}
.priceTerm {
	font-size: 0.8rem;
}
.prPrice {
	font-size: 0.9rem;
}
}

@media all and (max-width: 1025px) {
.sfpt_description {
	width: 35%;
}
}

.prRowCelLast {
	border-bottom: none;
}
/* ------------price table --------*/
.pricing-table .circle-button {
	
}
.pricing-table[data-style="flat-alternative"] .pricing-column h3 {
	font-size: 22px !important;
}
.pricing-table.four-cols[data-style="flat-alternative"] .pricing-column {
	padding: 30px;
}
.pricing-table span.dollar-sign {
	float: right;
	padding-left: 15px;
}
.pricing-table[data-style="flat-alternative"] .pricing-column .interval::before {
	content: '';
}
.pricing-table[data-style="flat-alternative"] .pricing-column .interval {
	display: block;
	text-align: center;
	padding: 0px;
}
.pricing-table.four-cols[data-style="flat-alternative"] .pricing-column.highlight {
	border-bottom: 6px solid #154682;
	box-shadow: 8px 15px 30px !important;
}
.pricing-table.four-cols[data-style="flat-alternative"] .pricing-column, body .pricing-table.four-cols[data-style="flat-alternative"] .pricing-column.highlight {
	box-shadow: 3px 8px 10px !important;
}
.pricing-table[data-style="flat-alternative"] .highlight h3 {
	text-align: center;
	border-left: 2px solid rgb(21, 70, 130) !important;
	border-right: 2px solid #154682 !important;
	padding: 0px 5px;
	border-radius: 15px;
}
.pricing-table.four-cols[data-style="flat-alternative"] .pricing-column, body .pricing-table.four-cols[data-style="flat-alternative"] .pricing-column.highlight {
	padding: 25px;
}
.pricing-table[data-style="flat-alternative"] .pricing-column h4 {
	display: block;
	text-align: center;
	padding: 13px 0px;
}
.socialIcons .one-fifth {
	text-align: center;
}
.priceTestimSection p {
	text-align: center;
}
.priceTestimSection blockquote p {
	line-height: 22px;
	text-align: center;
	color: #e1e1e1;
}
.testimonial_slider blockquote span.title {
	font-size: 16px !important;
}
.light .testimonial_slider blockquote {
	color: rgba(255,255,255,0.45) !important;
}
.light .testimonial_slider blockquote span.title {
	color: #fff !important;
}
/*  post list widjet */
.post-list code {
	white-space: normal;
	background-color: inherit;
	font: inherit;
	font-size: 16px;
}
.post-list code .pcs-post-title {
	font-size: 125%;
}
.post-list .listed-post {
	border: none;
	float: left;
}
.pcs-featured-image {
	margin: 0px 1em 1em 0px;
}
.pcs-excerpt-wrapper {
	margin-top: 1em;
}
.post-list.with-excerpt {
	column-rule: none;
	-moz-column-rule: none;
	-webkit-column-rule: none;
}
ul.post-list li {
	display: -webkit-inline-box !important;
}
.main-content .postPagination {
	margin: 0px;
}
.main-content .postPagination li {
	list-style: none;
	width: 35%;
}
.main-content .postPagination li.postPrev {
	float: left;
}
.main-content .postPagination li.postNext {
	float: right;
	text-align: right;
}
.main-content .postPagination li.postPrev:before {}
.custom-pricetable {
	font-size: 110%;
}
.priceRowTall {
	height: 4em;
}
.priceRowTall .prPlus {
	height: 4em;
	padding-top: 1em;
}
 /* ------ ABOUT US page header ----------- */
.page-id-187 .nectar-particles .inner-wrap {
	margin-left: 55%;
	width: 50% !important;
}
/* ---- CTA (Call to action) ----- */
.cta-section .cta-description {
	vertical-align: middle;
	margin-left: 50px;
	font-size: 140%;
	display: inline-block;
	top: 0.5em;
	position: relative;
}
.cta-section .white-orange-button {
	float: right;
	margin-top: 5px;
}
.cta-section .cta-button {
	margin-top: -1.3em;
}
/* --------------- mobility -------------- */
@media only screen and (max-width: 690px) {
	.optionally {
		display: none;
	}
}
@media only screen and (max-width: 1032px) {
	.cta-form-header {
		display: block;
		float: none;
		margin-bottom: 1em;
	}
	.cta-form-input-name {
		width: 25%;
	}
	.cta-form-input-email {
		width: 40%;
	}
	.post-list.with-excerpt {
		column-count: 1 !important;
		-webkit-column-count: 1 !important;
		-moz-column-count: 1 !important;
	}
}
@media only screen and (max-width: 1000px) {
	.cta-section .cta-description {
		margin-left: 0;
		display: block;
		clear: both;
	}
	.cta-section .white-orange-button {
		margin-top: -2.5em;
	}
}
@media only screen and (max-width: 768px) {
	.cta-form-input-name {
		width: 100%;
	}
	.cta-form-input-email {
		width: 100%;
	}
}
#sidebar a {
	color: #1E59A1;
}
#sidebar a:hover {
	color: #ED773C;
}
input#admin_logs {
	position: initial;
}
#footer-outer .row {
	padding: 50px 0px 0px 0px;
	margin-bottom: 0px;
}
#footer-outer .widget {
	margin-bottom: 0px;
}
.sfSocialLogin {
	display: flex;
	width: 100%;
	justify-content: center;
}
/* ----- error 404 page ------- */
.flexContainer404 {
	display: flex;
	justify-content: center;
	padding-top: 10%;
}
#error-404 {
	text-align: center;
	margin-bottom: 45px;
	background-image: url('/wp-content/uploads/2016/06/404-041.png');
	background-position: inherit;
	background-repeat: no-repeat;
	height: 270px;
	width: 900px;
}
.message404 {
	width: 350px;
	position: relative;
	top: 177px;
	left: 111px;
	font-size: 1.15em;
	text-align: left;
	color: #979797;
}
.cta404 {
	width: 300px;
	font-size: 1.3em;
	float: right;
	top: 0px;
	position: relative;
	left: 60px;
	line-height: 1.5em;
	color: #1E59A1;
}
.cta404 p {
	padding: 0px;
}
.cta404 p a {
	color: #979797;
}
.cta404 p a:hover {
	color: #E8753B;
}
/* --- woocommerce my-account page ------ */
.woocommerce-account .woocommerce-MyAccount-content {
	float: none;
	width: 100%;
}
/* --- woocommerce thankyou page ------ */
.woocommerce p.woocommerce-thankyou-order-received {
	padding-bottom: 27px;
	color: #2059A1;
	font-size: 33px;
	margin: 30px 0 15px;

}
.woocommerce p {
	padding-bottom: 27px;
	color: #3f3e3e;
	font-size: 13px;
	FONT-WEIGHT: 500;
	
}
.woocommerce .order_details li {
	float: left;
	margin-right: 2em;
	text-transform: initial;
	line-height: 1;
	border-right: 1.7px solid #215aa2;
	padding-right: 2em;
	margin-left: 0;
	padding-left: 0;
	font-size: 16px;
	color: #3f3e3e;
}
.woocommerce .order_details li strong {
	display: inline !important;
	font-size: 16px !important;
	color: #1c1c1b !important;
	margin: 1em !important;
}
.woocommerce-thankyou-order-received img {
	position: relative;
	top: 19px;
}

/* --- woocommerce cart/checkout page ----*/
.woocommerce .checkout h3 {
	font-family: "Exo 2";
	color: #2059a1;
	font-weight: 500;
	font-size: 23px;
	margin: 0 0 28px 61px;
}
.woocommerce .checkout p {
	display: block;
	float: none;
}
.woocommerce .form-row-first {
		font-size: 15px;
}
.woocommerce form .form-row input.input-text  {
		font-size: 15px;
		color: #1c1c1b;
		font-weight: 600;
}
.payment_method_cheque, body[data-fancy-form-rcs="1"] [type="radio"]:checked + label {
		font-size: 15px;
}
form[name="checkout"] .woocommerce-billing-fields label, form[name="checkout"] .woocommerce-billing-fields input.input-text {
		display: inline;
		margin: 0 0 0 61px;
}
form[name="checkout"] .woocommerce-billing-fields label {
width: 6em;	
}
form[name="checkout"] .woocommerce-billing-fields input.input-text {
	width: 60%;
}
form[name="checkout"] .woocommerce-billing-fields label {
	
	
}
form[name="checkout"] .woocommerce-billing-fields input.input-text {
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #a7a7a7;
	background-color: rgba(245, 245, 245, 0);
}
.woocommerce-billing-fields .input[name="billing_first_name"]  {
	margin: 0px 0 0px 56px;
}
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	border: none!important;
	background-repeat: no-repeat;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-size: 15px!important;
	line-height: 28px;
	padding: 10px 10px!important;
	position: relative;
	text-align: center;
	text-transform: capitalize;
	font-weight: normal!important;
	transition: all 0.2s linear 0s;
	width: auto!important;
	float: left;
	margin: 5em 0 0;
	background-color: #1E59A1!important;
}
body[data-fancy-form-rcs="1"] #payment_method_bacs:checked + label:before {
	border-color: #2059a1!important;
}
body[data-fancy-form-rcs="1"] #payment_method_bacs:checked + label:after {
	background-color: #2059a9!important;
	border-color: #2059a1!important;
}

.woocommerce-checkout #payment div.payment_box p:last-child {
		padding-bottom: 0px!important;
	padding-left: 10px;
	line-height: inherit!important;
	font-size: 13px!important;
}
li.wc_payment_method {
	display:inline-block;
	float: left;
	width: 15em;
}
.woocommerce-checkout #payment div.payment_box {
	position: absolute;
}
.cart-collaterals h2 {
	font-size: 23px!important;
	line-height: 40px!important;
	color: #1E59A1;
}
html .woocommerce .woocommerce-message {
	background-color: #838484!important;
}
body:not(.woocommerce-cart) .main-content td {
		border-left: none;
	border-style: none;
	border-top: none;
	border-width: none;
}
body:not(.woocommerce-cart) .main-content tr th:first-child, body:not(.woocommerce-cart) .main-content tr td:first-child {
	border-left-style: solid;
	border-left-width: 0px;
	border-color: #f8f8f8;
}
.woocommerce .actions .button {
		font-size: 12px!important;
			height: 39px!important;
			background-color: #838484!important;
			border-radius: 0px;
}
#sf_cart img {
	margin-bottom: 0px;
	width: 82px;
	height: 82px;
}
#sf_cart .collateralsInCart td[rowspan="4"], #sf_cart td {
	vertical-align: middle;
}
#sf_cart tr {
	background-color: #F8F8F8;
}

/* ----- facecheck workplace ----- */
.workplaceHeader h2, #sidebar .workplaceHeader a {
	color: #ffffff;
}
.workplaceHeader {
 background-color: #1E59A1;
 width: 100%;
 padding: 0;
 margin: 0;
 color: #ffffff;
}
.workplaceContainer {
		padding-top: 0!important;
}
#sidebar .workplaceHeader a.button {
	font-size: 0.9em!important;
	text-transform: none;
	margin-left: 31px;
	margin-bottom: 2rem;
	display: inline-block;
	padding: 5px 10px;
	
}
#menu-user-workplace-menu li.current-menu-item::after {
	content: '';
	border-left: 16px solid;
	width: 0;
	height: 0;
	border-top: 18px solid #F8F8F8;
	border-bottom: 18px solid #F8F8F8;
	display: inline-block;
	float: right;
	position: relative;
	top: -32px;
	color: #efefef;
}
#menu-user-workplace-menu li.current-menu-item{
	background-color: #efefef;
}
.ascend #sidebar .widget.widget_categories li a, .ascend #sidebar .widget.widget_pages li a, .ascend #sidebar .widget.widget_nav_menu li a, .ascend #footer-outer .widget.widget_categories li a, .ascend #footer-outer .widget.widget_pages li a, .ascend #footer-outer .widget.widget_nav_menu li a{
	font-size: 14px;
	color: #7d7d7d;	
	margin: 0px 0px 0px 30px;
	font-weight: 500;
	line-height: 2em;
}
.workplaceHeader p.userName {
	font-size: 116%;
	font-weight: 500;
}
.workplaceHeader p.linksCTA {
	margin-top: 1em;
	margin-bottom: 0.7em;
}
.workplaceHeader p:nth-child(3) {
	color: #b7d1f9;
}
.workplaceHeader h2 {
	color: #ffffff;
	font-size: 30px;
	padding: 2rem 0 0 2rem;
	margin-bottom: 0.5em;
}
#sidebar .workplaceHeader a {}
.workplaceHeader p{
	padding-bottom: 1em;
	padding-left: 31px;
	font-size: 0.9em;
	font-weight: 500;
}
.textwidget p:nth-child(1) {
	font-size: 15px;
	font-weight: 500;
	padding: 0px 0px 9px 29px;
	color: #ccc;
}
/* ----- LK ------ */
section.sfUserWorkplace h2 {
	margin-bottom: 1.5em;
	color: #1e59a1;
}
/* ------- [sf_access_information] ---- */
.sf-access-information {
	margin-bottom: 4em;
	margin-top: 2em;
	display: flex;
}
.sf-access-information .infografic-purpose {
	display: inline-block;
	padding-right: 2em;
	border-right: 3px solid lightgray;
	margin-right: 2em;
}
.sf-access-information .infografic-purpose img {
	margin-bottom: 0;
}
.sf-access-information .information-purpose {
	display: inline-block;
	padding: 0.8em;
}
.sf-access-information .information-purpose dl {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	width: 25em;
	flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
}
.sf-access-information .information-purpose dl dd {
	flex-basis: 17em;
	-moz-flex-basis: 17em;
	-webkit-flex-basis: 17em;
	padding-left: 0px;
	margin-bottom: 1.3em;
}
.sf-access-information .information-purpose dl dt {
	-moz-flex-basis: 2em;
	-webkit-flex-basis: 2em;
	flex-basis: 2em;
	font-size: 2.5em;
	color: #1E59A1;
}
/* ---- profile ---- */
.workplaceToggleHeader h2 {
	display: inline-block;
}
.workplaceToggleHeader div {
	display: inline-block;
	margin-left: 1.5em;
	color: #656565;
}
.workplaceToggleHeader div img {
	margin: 0;
}
/* ------- workplace sidebar -------- */
@media (min-width: 1001px) {
.workplaceContent.col.span_9.col_last {
	float: right;
	margin-right: 1% !important;
}
.workplaceSidebar.col.span_3.left-sidebar {
	float: left;
	margin-right: 1%;
}
}
.workplaceSidebar .facecheck-container-wrap {
}
/* ---- baner ----*/
div.sfBanner {
	background-color: #D3E6F4;
	color: #3F3E3E;
	padding: 1.5em;
}
div.sfBanner h2 {
	color: #1E59A1;
	font-size: 20px;
	line-height: 130%;
	font-weight: bold;
	padding-bottom: 1em;
}
.sfBannerMessage {
	padding-left: 50px;
}
.bannerRegistrationCTA::before {
	content: url('/wp-content/uploads/2016/06/1_icon-for-baner.png');
	position: absolute;
	left: 1em;
}
.bannerMessageCTA::before {
	content: url('https://scanface.ua/wp-content/uploads/2016/06/2_icon-for-baner.png');
	position: absolute;
	left: 1em;
}
#sidebar .sfBanner a.button {
	font-size: 1em;
text-transform: none;
margin-left: 0;
color: white;
padding: 5px 15px 10px;
  display: block;
text-align: center;
}
/* ---- facecheck professions --- */
.facecheck-container-wrap .professions h1 {
	text-align: left!important;
	color: #1E59A1;
	font-family: inherit!important;
	margin: 0px 0px 6px 37px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 23px;
}
.facecheck-container-wrap .container .professions .category .title {
	color: #3F3E3E;
	font-size: 15px;
	margin: 0 0 -26px 0px;
	padding: 5px 0px 9px 11px;
}
.facecheck-container-wrap .professions .category ul li a.new {
	font-family: inherit;
	font-size: 14px;
	color: #1E59A1;
	margin: 0 0 -23px 0px!important;
}
.facecheck-container-wrap .professions .category ul li a.base {
	font-family: inherit;
	font-size: 14px;
	line-height: 16px;
	color: #3F3E3E;
	margin: 0 0 -23px 42px!important;
}
.facecheck-container-wrap .container .professions .category .title .toggle {
	border-left: none;
	float: left;
	width: 24px;
	margin-right: 18px;
	color: #1E59A1!important;
	background-image: url('https://scanface.ua/wp-content/uploads/2016/06/3_стрілка.png');
}
	
.facecheck-container-wrap .container .professions .category .title .open{
   background-image: url('https://scanface.ua/wp-content/uploads/2016/06/4_arrow.png');	
}
.facecheck-container-wrap .container .professions .category ul li {
	border-bottom: none;
}
.facecheck-container-wrap .container .professions .category .title {
	border-bottom: none;
	border-top: none;
}
.facecheck-container-wrap .container .professions .category {
	background-color: #f4f4f4;	
}
/*---- */
.sfWorkplaceGrid {
	display: flex;
	display: -moz-flex;
	display: -webkit-flex;
	width: 100%;
	flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-around;
	-moz-justify-content: space-around;
	-webkit-justify-content: space-around;
	align-items: stretch;
	-moz-align-items: stretch;
	-webkit-align-items: stretch;
	align-content: space-between;
	-moz-align-content: space-between;
	-webkit-align-content: space-between;
}
.sfWorkplaceItem {
	flex-basis: 300px;
	-moz-flex-basis: 300px;
	-webkit-flex-basis: 300px;
	height: 150px;
	flex-grow: 1;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	flex-shrink: 1;
	-moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	margin: 40px;
	
}
.sfWorkplaceItem a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	align-items: center;
	-moz-align-items: center;
	-webkit-align-items: center;
}
.sfWorkplaceItem a:hover {
	color: #ED773C;
}
.sfWorkplaceItem a span {}
/*-----facecheck report-----*/
/*-----entrance-----*/
.facecheck-container-wrap .auth h1 {    
color: #1E59A1;
}
/* ---- post-area --- */
.sfUserWorkplace h1 {
	color: #1E59A1;
	font-size: 153%; 
}
.sfUserWorkplace h2 {
	margin-right: 86px;
	display: inline;
}
/*-----main button-----*/
.fullscreen-header .container a.button {
	padding: 0.4em 1.5em 0.5em 1.5em !important;
	border-radius: 6px;
}
/*-----home_page-----*/
.row-bg.using-image.using-bg-color {
	background-position: center center!important;
background-size: contain;
}
input.wpcf7-form-control.wpcf7-submit{
padding: 0.5em 2em!important;
}
/*-----order-----*/
/*-----personal office-----*/
@media only screen and (min-width : 1px) and (max-width : 1000px) {
	#post-area {
		padding-right: 2rem!important;
		margin-bottom: 0px;
	}
}
.workplaceContainer #post-area {
	padding: 2rem 1rem;
}
.workplaceContainer #post-area .block_requirements .second_block_requirements .col.span_4.col_last  {
	text-align: left;
	float: right;
	width: 72%;
}
.workplaceContainer #sfContent .second_block_requirements .not_suitable_photos {
	border-left: 2px solid #c6c6c6;
}
.second_block_requirements .col.span_4.col_last {
	width: 72%; 
}
#post-area .sfPageHeader .col.span_4.col_last {
text-align: right;
}
#post-area .col.span_4.col_last .infoButton{
text-align: right;
}
.workplaceContainer #post-area .col.span_4.col_last .infoButton img{
	margin: 0 0.5em 0 0;
	display: inline;
	vertical-align: bottom;
}
.workplaceContainer #post-area  .sfPageHeader .col.span_8 h1 {
	margin-bottom: 0!important;
}
.workplaceContainer #post-area .col.span_8 h1 {
	color: #1e59a1;
	text-transform: none;
	font-size: 1.5em;
	font-weight: 500;
	margin-bottom: 2rem;
}
.workplaceContainer #sidebar .sfBanner a {
	background-color: #1e59a1!important;
	border-radius: 3px!important;
	font-weight: bold!important;
	border: 2px solid #1e59a1!important;
	font-size: 1em!important;
	line-height: 1.5rem!important;
}
.workplaceContainer #sidebar .sfBanner a:hover {
	background-color: #1e59a1!important;
	border-radius: 3px!important;
	font-weight: bold!important;
	border: 2px solid #1e59a1!important;
	font-size: 1em!important;
	line-height: 1.5rem!important;
	color: white;
	opacity: 0.8;
}
.workplaceContainer #post-area #sfContent .flexHowto #left p {
max-width: 700px;
}
.workplaceContainer #post-area #sfContent #Howto.description_photo {
	width: 100%
}
.workplaceContainer #post-area #sfContent #Howto.description_photo p {
	width: 100%
}
div.facecheck-container-wrap {
	background-color: transparent;
}
div.container.main-content .auth form {
	background-color: #f8f8f8;
	padding: 0 0;
	float: left;
}
div.container.main-content .auth .submit {
	width: 100%;
	height: 3em;
	background-color: #1e59a1!important;
	float: right;
	margin: 0.5em 0;
}
div.container.main-content .auth .disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
div.container.main-content .auth div input {    
	border-bottom: none;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 0;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.09) inset;
	border-left: 5px solid rgb(30, 89, 161);
	background-color: #efefef;
	margin: 0.5rem 0;
}
div.workplaceToggleHeader div#sfToggleButton img {
margin-bottom: 0!important;
}
div.workplaceToggleHeader div {
  margin-left: 0;
}
div.workplaceToggleHeader {
  margin-top: 2em;
  margin-bottom: 3em;
}
div.container.main-content h1 {
  font-size: 20px;
  text-align: left;
}
section.sfUserWorkplace div.container.main-content {
	margin: 0;
	padding: 0;
}
.at-content .container-wrap.workplaceContainer .row .workplaceContent #post-area h2 {
	margin-bottom: 2rem;
	margin-top: 0;
	color: #1e59a1;
	text-transform: none;
}
.workplaceContainer .workplaceContent #post-area #sfContent .block_requirements .second_block_requirements  h2 {
	margin-bottom: 0;
}
.at-content .container-wrap.workplaceContainer .row .workplaceContent #post-area table {
	border-collapse: collapse;
	margin-bottom: 4rem;
}
.at-content .container-wrap.workplaceContainer .row .workplaceContent #post-area .sfMessage {
	margin-bottom: 1rem;
}
.workplaceContainer .workplaceContent table.my_account_orders tbody td.order-number a{
	color: #2e3544;
} 
.workplaceContainer .workplaceContent table.my_account_orders tbody tr.order:last-child td.order-number{
	border-bottom: none;
} 
.workplaceContainer .workplaceContent table.my_account_orders tbody tr.order:last-child td.order-date{
	border-bottom: none;
} 
.workplaceContainer .workplaceContent table.my_account_orders tbody tr.order:last-child td.order-status{
	border-bottom: none;
} 
.workplaceContainer .workplaceContent table.my_account_orders tbody tr.order:last-child td.order-total{
	border-bottom: none;
} 
.workplaceContainer .workplaceContent table.my_account_orders tbody tr.order:last-child td.order-actions{
	border-bottom: none;
} 
.workplaceContainer .workplaceContent table.my_account_orders thead th.order-number{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 0.5rem 1rem 1rem 1rem;
} 
.workplaceContainer .workplaceContent table.my_account_orders thead th.order-date{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 0.5rem 1rem 1rem 1rem;
} 
.workplaceContainer .workplaceContent table.my_account_orders thead th.order-status{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 0.5rem 1rem 1rem 1rem;
} 
.workplaceContainer .workplaceContent table.my_account_orders thead th.order-total{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 0.5rem 1rem 1rem 1rem;
} 
.workplaceContainer .workplaceContent table.my_account_orders thead th.order-actions{
	border-right: none;
	border-bottom: 2px solid lightgray;
	padding: 0.5rem 1rem 1rem 1rem;
}
.workplaceContainer .workplaceContent table.my_account_orders tbody td.order-actions{
	border-right: none;
	border-bottom: 2px solid lightgray; 
	padding: 1rem 1rem 1rem 1rem;
}
.workplaceContainer .workplaceContent table.my_account_orders tbody td.order-total span.amount{
	color: #1e59a1;
	font-weight: 500;
	font-size: 1.2rem;
}
.workplaceContainer .workplaceContent table.my_account_orders tbody td.order-actions a.button.view{
	padding: 7px 20px;
	background-color: transparent;
	border-radius: 3px;
	color: #1e59a1;
	border: 2px solid #1e59a1;
	font-size: 1rem;
	font-weight: 500;
}
.workplaceContainer .workplaceContent table.my_account_orders tbody td.order-actions a.button.view:hover{
	padding: 7px 20px;
	background-color: #1e59a1;
	border-radius: 3px;
	color: white;
	border: 2px solid #1e59a1;
	font-size: 1rem;
	font-weight: 500;
}
.workplaceContainer .workplaceContent table.my_account_orders td {
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 0.5rem 1rem 1rem 1rem;
}
.workplaceContainer .workplaceContent table.my_account_orders thead tr {
	font-size: 1rem;
	color: #9d9d9d; 
}
.workplaceContainer .workplaceContent table.my_account_orders tbody tr {
	font-size: 1rem;
} 
/*------Photo requirements-------*/
div#Howto div.col.span_4 {
width: 75%;
}
div#Howto div.col.span_8.col_last {
width: 20%;
}
div#Howto tr.description_plus_picture td {
	  border-bottom: 2px solid #dee0e1;
	  width: 75%;
}
div#Howto td#description {
	  border-right: 2px solid #dee0e1;
	  vertical-align: middle;
	  padding-right: 1em;
}
div#Howto tr.description_plus_picture td.without_bottom {
	  border-bottom: none;
}
div#Howto tr.description_plus_picture td.picture_without_bottom {
	  border-bottom: none;
	  text-align: center;
	  vertical-align: middle;
}
div#Howto table {
 width: 90%; 
}
 div#Howto tr.description_plus_picture td#picture_for_description {
	  text-align: center;
	  vertical-align: middle;

}
#sfContent .Requirements .col.span_4.col_last h2 {
text-align: right;
font-size: 24px!important;
margin: 0 0 1.5em 0;
}
#sfContent .Requirements {
	margin: 0 0 5em 0;
}
#sfContent .Requirements .col.span_4 h2 {
	font-size: 24px!important;
	margin: 0 0 1.5em 0;
}
#sfContent .Requirements .col.span_4.col_last {
border-left: 2px solid #1e59a1;  
}
#sfContent .Requirements .col.span_4 {
margin-right: 5%;
}
.span_5 {
	text-align: center;
}
#header-secondary-outer ul {
	z-index: 5;
}
/*------free test------*/
.col.span_9.col_last .sfUserWorkplace h1 {
	padding-top: 2em;
	text-transform: uppercase;
}
.sfUserWorkplace .scan-test-text.col.span_9 {
	padding-top: 1em!important;
	padding-bottom: 1em!important;
}
.sfUserWorkplace  .col.span_9.col_last .wpcf7 {
		margin: 2em 0 0 0;
}
.flexHowto {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	clear: both;
}
#Howto {
	clear: both;
}
.flexHowto #right {
	flex-basis: 15em;
	flex-grow: 1;
	flex-shrink: 0;
}
.flexHowto #left {
	flex-basis: 40em;
	flex-grow: 2;
	flex-shrink: 1;
	padding-top: 2.5em;
	border-right: 2px solid #c1c1c1;
}
.flexHowto h2 {
	color: #1E59A1;
}
.flexHowto #right h2 {
	border-bottom: 2px solid #c1c1c1;
	padding-left: 2em;	
}
.flexHowto #right ul {
	padding-left: 2.5em;
	line-height: 2em;	
}
.flexHowto #right {
	margin-right: none;	
}
.flexHowto #right li.content {
	border-bottom: none;	
}
.flexHowto #left h2#how-to-make {
	border-top: 2px solid #c1c1c1;
	margin-top: -4px;
	padding: 1em 0;	
	
}
.flexHowto #left h2#what-shows-Sc {
	border-bottom: 2px solid #c1c1c1;
	padding: 1em 0;
	
}
.flexHowto #left h2#how-to-use {
	border-bottom: 2px solid #c1c1c1;
	padding: 1em 0;
	
}
.flexHowto #left h2#functions {
	border-bottom: 2px solid #c1c1c1;
	padding: 1em 0;
	
}
.flexHowto #left h2#content-report {
	border-bottom: 2px solid #c1c1c1;
	padding: 1em 0;
	
}
.flexHowto .content_picture {
	text-align: right;
	margin-bottom: 1.5em;
}
.flexHowto .content_picture_last {
	text-align: center;
	margin-top: 1em;
}
.flexHowto  .content_picture_helpful {
	text-align: right;
}
.flexHowto #left h2#catalog {
border-top: 2px solid #c1c1c1;
margin-top: -4px;
padding: 1em 0;
}
.flexHowto #left h2#make-profession {
border-bottom: 2px solid #c1c1c1;
padding: 1em 0;
}
.flexHowto #left h2#profile {
border-bottom: 2px solid #c1c1c1;
padding: 1em 0;
}
.flexHowto #left h2#conformity {
border-bottom: 2px solid #c1c1c1;
padding: 1em 0;
}
.content_picture-2 {
text-align: right;
margin-bottom: 1.5em;
margin-top: 1.5em;
}
.content_picture_last-2 {
text-align: center;
margin-top: 1.5em;
}
.flexHowto #left h2#history {
border-top: 2px solid #c1c1c1;
margin-top: -4px;
padding: 1em 0;	
}
.flexHowto #left h2#report {
border-bottom: 2px solid #c1c1c1;
padding: 1em 0;
}
.flexHowto #left h2#history-functions {
border-bottom: 2px solid #c1c1c1;
padding: 1em 0;
}
.flexHowto #left h2#security {
border-bottom: 2px solid #c1c1c1;
padding: 1em 0;
}
.flexHowto #left h2#full-report {
border-bottom: 2px solid #c1c1c1;
padding: 1em 0;
}
.flexHowto .content_picture_helpful-2 {
text-align: right;
margin-right: 8em;
margin-top: -4.2em;
}
#sfContent .title h1 {
	color: #1e59a1;
	text-transform: none;
	font-size: 1.5em;
	font-weight: 500;
}
/*блог*/
.Post-name-sc {
	background: #4b7bb4;
	position: relative;
	top: -38px;
	padding-bottom: 20px;
}
.Post-name-sc  h1 {
	color: white;
}
.sfAnotherPostsLinks a:nth-child(2) {
	float: right;
}
.sfMainPostContent p {
	text-align: justify;
}
.date-sc a {
	float: right;
}
#post-area {
	margin-top: 0px;
}
/*шапка-отчет*/
.report .line-1 button {
	color: #1e59a1;
	font-size: 26px;
	font-family: "Exo 2";
	letter-spacing: -0.5px;
	font-weight: 600;
	line-height: 42px;
	vertical-align: baseline;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.report .line-2 button {
	color: #1e59a1;
	font-size: 26px;
	font-family: "Exo 2";
	letter-spacing: -0.5px;
	font-weight: 600;
	line-height: 42px;
	vertical-align: baseline;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.report .line-3 button {
	color: #1e59a1;
	font-size: 26px;
	font-family: "Exo 2";
	letter-spacing: -0.5px;
	font-weight: 600;
	line-height: 42px;
	vertical-align: baseline;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
/*блок-отчет*/
.scanface-header {
	color: #1e59a1;
	font-size: 26px;
	font-family: "Exo 2";
	letter-spacing: -0.5px;
	font-weight: 600;
	line-height: 42px;
	vertical-align: baseline;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.scanface-header-2 {
	color: #1e59a1;
	font-size: 26px;
	font-family: "Exo 2";
	letter-spacing: -0.5px;
	font-weight: 600;
	line-height: 42px;
	vertical-align: baseline;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.scanface-header-3 {
	color: #1e59a1;
	font-size: 26px;
	font-family: "Exo 2";
	letter-spacing: -0.5px;
	font-weight: 600;
	line-height: 42px;
	vertical-align: baseline;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.title .picture img {
	margin-bottom: 0px !important;
}
.title .text h1 {
	padding-top: 0.5em !important;
}
/*Окошко*/

.title {
	display: flex;
	flex-wrap: wrap;
}
.title .picture {
	flex-basis: 100px;
	text-align: center;
}	
.title .text {
	flex-basis: 260px;
}
.popup {
	border: 1px solid #828282;
	width: 23rem;
	margin-left: -1.7rem;
	background-color: #f8f8f8;
}
.popup h1 {
	color: #205aa1;
	font-size: 21px;
	text-align: left;
	text-transform: uppercase;
	padding-top: 0.6rem;
	font-size: 1.1rem;
}
.popup p{
text-align: center; 
}
.popup .twoButton {
display: flex;
flex-wrap: wrap;
}
.registration {
	flex-basis: 100px;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0 10px 15px 24px;
}
.registration input {
	border: 2px solid #225ba2;
	border-radius: 4px;
	padding: 6px 14px 8px 15px!important;
	color: #225ba2;
	font-size: 16px;
	background-color: transparent;
}
.registration input:hover {
	background-color: #225ba2!important;
}
.plan {
	flex-basis: 100px;
	flex-shrink: 0;
	flex-grow: 1;
	margin: 0 24px 15px 10px;
}
.plan input {
	border: 2px solid #225ba2;
	border-radius: 4px;
	padding: 6px 14px 11px 1a4px!important;
	color: #225ba2;
	font-size: 16px;
	background-color: transparent;
}
.plan input:hover {
	background-color: #225ba2!important;
	color: white;
}
div.clear {
	padding-bottom: 0;
}
#post-area.col_last {
	padding-left: 0;
	margin-top: 0;
}
.no-access:hover .get-access {
	border: 1px solid #828282;
	max-width: 24rem;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.get-access .text h1 {
	color: #1e59a1;
	font-size: 21px;
	text-align: left;
	text-transform: uppercase;
	padding-top: 0.6rem;
	font-size: 1.2rem;
	line-height: 1rem;
}
.get-access p {
	text-align: left!important;
	padding: 15px 20px 15px 0!important;
	font-size: 12px!important;
	line-height: 18px!important;
	border-bottom: 1px solid #eee;
}
.get-access span.lock {
	flex-basis: 80px;
}
.get-access span.lock img {
	margin-bottom: 0;
	position: relative;
	right: 0.2em;
}
.get-access .text {
	flex-basis: 300px;
	margin-top: 0.8rem;
}
.report .get-access button {
	background: transparent;
	box-shadow: none;
	border: 2px solid #1e59a1;
	color: #1e59a1;
	flex-basis: 139px;
	border-radius: 4px;
	margin: 1rem 0 2rem 0;
}
.report .get-access button:nth-child(4) {
	background: transparent;
	box-shadow: none;
	border: 2px solid #1e59a1;
	color: #1e59a1;
	flex-basis: 139px;
	border-radius: 4px;
	margin: 1rem 0 2rem 0;
	background-color: #1e59a1;
	color: white;
}
.report .get-access button:nth-child(4):hover {
	background: #f8f8f8;
	color: #1e59a1;
}	
.report .get-access button:nth-child(3):hover {
	background: #1e59a1;
	color: white;
}
.report .get-access {
	box-shadow: 0 0 10px lightgrey;
	border: none!important;
}
.profession button {
border-radius: 4px;
color: #1e59a1;
background: transparent;
box-shadow: none;
flex-basis: 400px;
border: 2px solid #1e59a1;
}
.profession button:hover {
	background: #1e59a1;
	color: white;
}
.profession button:nth-child(6) {
border-radius: 4px;
color: #1e59a1;
background: transparent;
box-shadow: none;
border: 2px solid #1e59a1;
}
.profession button:nth-child(6):hover {
	background: #1e59a1;
	color: white;
}
.profile .infoButton {
	width: 93%;
	order: 1;
	text-align: right;
}
.profile .description {
	max-width: 950px!important;
}
.legend__diagramm-lock {
	/*width: auto!important;*/
}
/*form.login*/
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register  {
border: none;
background-color: transparent;
box-shadow: none;
border-radius: 0;
}
#post-area .woocommerce .u-column1.col-1 .login .form-row .woocommerce-Button.button {
background-color: #1e59a1!important;
padding: 16px 0 !important;
width: 100%;
margin-top: 2rem;
border: 2px solid #1e59a1!important;
} 
#post-area .woocommerce .u-column1.col-1 .login .form-row .woocommerce-Button.button:hover {
	background-color: transparent!important;
	border: 2px solid #1e59a1!important;
	color: #1e59a1!important;
	font-weight: 700!important;
	border-radius: 3px;
}
#post-area .woocommerce .u-column1.col-1 .login .form-row .inline{
	display: flex;
	justify-content: center;
	padding-top: 1rem;
	position: relative;
	top: -94px;
}
#post-area .woocommerce .u-column1.col-1 .login .woocommerce-LostPassword.lost_password{
	text-align: left;
}
#post-area .woocommerce .u-column1.col-1 h2{
	 color: #1e59a1;
	padding-left: 1.4rem;
	font-weight: 700;
}
#post-area .woocommerce .u-column2.col-2 h2{
	 color: #1e59a1;
	padding-top: 2rem;
	padding-left: 1.4rem;
	font-weight: 700;
}
#post-area .woocommerce .u-column2.col-2 .register .form-row .woocommerce-Button.button {
background-color: #1e59a1!important;
padding: 16px 0 !important;
width: 100%;
margin-top: 2rem;
}
#post-area .woocommerce .u-column2.col-2 .register .form-row .woocommerce-Button.button:hover {
background-color: none;
border:1px solid;
border-radius: 3px;
}
#post-area .woocommerce .u-column2.col-2 .register .form-row .inline{
	display: flex;
	justify-content: center;
		padding-top: 1rem;
}
#post-area .woocommerce .u-column2.col-2 .register .woocommerce-LostPassword.lost_password{
	text-align: center;
}
#post-area .woocommerce .u-column2.col-2 .register .form-row .woocommerce-Button.button:hover {
	background-color: transparent!important;
	border: 2px solid #1e59a1!important;
	color: #1e59a1!important;
	font-weight: 700!important;
	border-radius: 3px;
}
#post-area .woocommerce .u-column1.col-1 .login .woocommerce-FormRow.woocommerce-FormRow--wide.form-row.form-row-wide #username.woocommerce-Input.woocommerce-Input--text.input-text {
border-left: 5px solid rgb(30, 89, 161);
}
#post-area .woocommerce .u-column1.col-1 .login .woocommerce-FormRow.woocommerce-FormRow--wide.form-row.form-row-wide #password.woocommerce-Input.woocommerce-Input--text.input-text {
border-left: 5px solid rgb(30, 89, 161);
}
#post-area .woocommerce .u-column2.col-2 .register .woocommerce-FormRow.woocommerce-FormRow--wide.form-row.form-row-wide #reg_email.woocommerce-Input.woocommerce-Input--text.input-text {
border-left: 5px solid rgb(30, 89, 161);
}
#post-area .woocommerce .u-column2.col-2 .register .woocommerce-FormRow.woocommerce-FormRow--wide.form-row.form-row-wide #reg_password.woocommerce-Input.woocommerce-Input--text.input-text {
border-left: 5px solid rgb(30, 89, 161);
}
#sidebar .widget.widget_text .textwidget .workplaceHeader .button {
background-color: #ed773c!important;
border: 2px solid #ed773c!important;
}
#sidebar .widget.widget_text .textwidget .workplaceHeader .button:hover {
	background-color: transparent!important;
	border: 2px solid #ed773c!important;
	color: #ed773c!important;
}
#post-area .woocommerce .u-column1.col-1 .login .woocommerce-LostPassword.lost_password a {
	color: #ed773c;
	font-size: 1rem;
}
#post-area .woocommerce .u-column1.col-1 .login .woocommerce-LostPassword.lost_password a:nth-child(2){
	float: right;   
}
#post-area .woocommerce .u-column1.col-1 .login input#rememberme.woocommerce-Input.woocommerce-Input--checkbox {
	width: 15px;
	height: 20px;
	margin: 4px 10px 2px 0;
}
#post-area .woocommerce .u-column1.col-1 .login {
	margin-bottom: 0;
}
#post-area .woocommerce .u-column1.col-1 a:nth-child(3) {
	color: #ed773c;
	padding-left: 20px;
	padding-bottom: 20px;
}
#post-area .woocommerce .u-column1.col-1 .login .form-row {
	margin: 0;
}
/*form.register*/
#post-area .woocommerce .u-column1.col-1 .register {
margin-bottom: 0;
}
#post-area .woocommerce .u-column1.col-1 .register .woocommerce-FormRow.woocommerce-FormRow--wide.form-row.form-row-wide input.woocommerce-Input.woocommerce-Input--text.input-text#reg_email {
border-left: 5px solid rgb(30, 89, 161);
}
#post-area .woocommerce .u-column1.col-1 .register .woocommerce-FormRow.woocommerce-FormRow--wide.form-row.form-row-wide input.woocommerce-Input.woocommerce-Input--text.input-text#reg_password {
border-left: 5px solid rgb(30, 89, 161);
}
#post-area .woocommerce .u-column1.col-1 .register .woocomerce-FormRow.form-row input:nth-child(3) {
	background-color: #1e59a1!important;
	padding: 16px 0 !important;
	width: 100%;
	margin-top: 2rem;
}

/*specifications*/
#post-area .facecheck-container-wrap.stepContent .container.main-content .row h1 {
	text-align: left!important;
	padding: 0 1.6rem 1.6rem;
	color: #1e59a1;
	text-transform: uppercase;
	font-size: 23px;
	font-weight: 600;
	font-family: "Exo 2";
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form {
	display: flex;
	flex-wrap: wrap;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div{
	text-align: left!important;
	padding: 0 0 0!important;
	flex-basis: 55%;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div label {
	font-family: 'Exo 2', 'HelveticaNeueCyr-Bold', 'Open Sans', sans-serif!important;
	font-size: 130%!important;
	color: #1e59a1!important;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div:nth-child(4) input {
	border: 2px solid #1e59a1;
	background: transparent;
	box-shadow: none;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div:nth-child(4) input:focus {
	background-color: white;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend{
	flex-basis: 70%;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form .legend{   
	padding: 0!important;
	border-top: 2px solid #c1c1c1;
	margin-top: 2em;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__dash {
	display: none;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__title {
	flex-basis: 100%;
	padding-top: 15px!important;
	color: #628bbc;
	font-family: 'Exo 2';
	font-size: 130%;
	margin-bottom: 0;
	margin-top: 0;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__left {
	flex-basis: 100%;
	padding: 0!important;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__left .legend__head .legend__head-title.legend__head-title-from {
	font-family: 'Exo 2';
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__left .legend__head .legend__head-title.legend__head-title-to {
	font-family: 'Exo 2';
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__right {
	flex-basis: 80%;
	padding-bottom: 2.6rem!important;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__right div {
	flex-basis: 60%;
	padding-bottom: 0!important;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .clear {
	flex-basis: 10%;
	background: transparent;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__right div input.spec-value.spec-value-left {
	border: 2px solid #1e59a1;
	font-family: 'Exo 2';
	border-top: 0;
	border-right: 0;
	width: 11%;
	border-left: 0;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div .legend__right div input.spec-value.spec-value-right {
	border: 2px solid #1e59a1;
	font-family: 'Exo 2';
	border-top: 0;
	border-right: 0;
	width: 11%;
	border-left: 0;
}
#post-area .facecheck-container-wrap.stepContent .container.main-content .row .report.edit-specs form div:nth-child(17) .fchk-button.accent-color{
	padding: 10px 36px !important;
	font-size: 100%;
}
/*zvit*/
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .line:nth-child(3) input#report_name.save_report {
	box-shadow: none;
	border-bottom: 1px solid #ddd;
	background: #f8f8f8;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .line:nth-child(3) input#report_name.save_report:focus {
	background-color: white;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .line:nth-child(5) textarea#report_comment.save_report {
	box-shadow: none;
	border-bottom: 1px solid #ddd;
	background: #f8f8f8;
	height: 30px;
	margin-bottom: 4rem;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .line:nth-child(5) #span_report_comment {
	font-size: 1.2rem;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .line:nth-child(4) .checkboxes .profs {
	color: #333;
	font-size: 12px;
	line-height: 16px;
	width: 80%;
	border-bottom: 1px solid #ddd;
	line-height: 26px;
	background-color: #F8F8F8;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .line {
	margin-top: 1rem;	
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .line .name {
	flex-basis: 15em;	
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info .report-jump-sf {
	border-top: 1px solid #1e59a1;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info .report-jump-sf .line-1 {
	margin-top: 1rem;
}
.facecheck-container-wrap .main-content .row .report .persone  {
	padding: 1em 2em 3em;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .gorizont-line-sf {
	width: 100%;
}

.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .candidate-menu {
	width: 100%;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report #profile-of-candidate .legend {
	width: 97.5%;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form .report-jump-sf {
	width: 100%;
}
.at-content .container-wrap #sfContent .facecheck-container-wrap.stepContent .main-content .row .report .persone .info form  .line:nth-child(2) .date {
	color: #1e59a1;
}
.nav-pr {
border-bottom: 2px solid #1e59a1; 
color: #245da3; 
display: flex; 
flex-wrap: wrap;
}
.prof-first {
text-align: left;
flex-grow: 1;
}
.nav-button {
display: inline;
}
.requirements {
padding-left: 2em;
}
.profesion h1 {
color: #245da3;
}
.profesion h2 {
border-bottom: 2px solid #1e59a1; 
color: #245da3; 
display: inline-block;
}
.profesion h3 {
color: #245da3;
}
#duties::before {
content: url('https://scanface.ua/wp-content/uploads/2016/09/3.професія70х75-1.png');
padding-right: 1em;
}
#requirements::before {
content: url('https://scanface.ua/wp-content/uploads/2016/09/2.професія70х75-1.png');
padding-right: 1em;
}
.prof-list {
padding-left: 3em;
}
.prof-text {
padding-left: 4em;
}
body[data-fancy-form-rcs="1"] input[type="checkbox"] {
	position: absolute;
	left: -9999px;
}
.mfp-bg {z-index: 900 !important;}
.mfp-wrap {z-index: 950 !important;}


/*Инструкции*/ 

.tutorial-name-sc h1 {
	font-family: "Exo 2";
	color: #1e59a1;
	text-transform: none;
	font-size: 1.5em;
	font-weight: 500;
}
.prev-sf a {
	float: left;
}
.next-sf a {
	float: right;
}
.instruction-sf h1 {
	font-family: "Exo 2";
	color: #1e59a1;
	text-transform: none;
	font-size: 1.5em;
	font-weight: 500;
}
.instruction-sf ul li {
	padding-bottom: 2.5em;
}
.instruction-sf ul li:last-child {
	padding-top: 3.5em;
}
.instruction-sf ul li a{
	font-family: "Exo 2";
	color: #2e3544;
	text-transform: none;
	font-size: 1.2em;
	font-weight: 500;
}
.instruction-sf ul li a:hover {
	color: #7d7d7d;
}


/*page_zvit*/
.workplaceContainer #post-area .stepContent .main-content .row .col.span_3.example .showRes .buttons .small {
	margin-top: 2rem;
	line-height: 0.35rem;
}
.workplaceContainer #post-area .stepContent .main-content .row .col.span_3.example .showRes .buttons .reset {
	margin-top: 2rem;
}
.workplaceContainer #post-area .stepContent .main-content .row .col.span_12{
	margin-bottom: 4rem;
}
@media all and (max-width: 550px) {
.sfWorkplaceGrid .styledSection::before {
	display: none;
}
}
.white-cta {
	height: 52px;
	display: flex;
	align-content: center;
	align-items: center;
	font-size: 1.4rem;
}
.white-cta i, .white-cta a, .white-cta span {
	margin: 0 auto;
	text-align: center;
}
.white-cta a {
	font-size: 1rem;
	line-height: 1em;
}
/*logout*/
.workplaceContainer #post-area .woocommerce .woocommerce-MyAccount-content p {
font-size: 1.2rem;	
}
.workplaceContainer #post-area .woocommerce .woocommerce-MyAccount-content p a {
	color: #1e59a1;
	border-bottom: 3px solid;	
}
.admin-bar #slide-out-widget-area.slide-out-from-right {
	background-color: #1E59A1!important;
}


/*free-testing page*/

.presentation-sf {
	padding: 0 4.5em;
}

.presentation-sf h1 {
	color: #1e59a1;
	text-align: center!important;
	font-size: 30px!important;
	padding-bottom: 40px;
	font-weight: normal;
	margin: 0;
}

.presentation-sf h2 {
	font-size: 20px;
	padding-bottom: 20px;
	margin: 0;
}

.presentation-sf h3 {
	font-weight: bold;
	font-size: 17px;
	padding-bottom: 15px;
	margin: 0;
}

.presentation-sf p {
	text-align: justify;
}

.presentation-sf .body-ft-sf {
	display: flex; 
	flex-wrap: wrap; 
	justify-content: space-between;
}

.body-ft-sf .video-sf {
	flex-basis: 31.5em; 
	box-shadow: 2px 3px 3px #ddd;
	height: 395px;
}

.body-ft-sf .textpres-sf { 
	flex-basis: 33em; 
	position: relative;
}

.textpres-sf ol {
	text-align: left;
	font-size: 14px;
	margin-left: 50px;
}

.textpres-sf ol li {
	list-style: none;
}

.textpres-sf li:nth-child(1) {
	padding-bottom: 30px;
}

.textpres-sf li:nth-child(2) {
	padding-bottom: 15px;
}

.textpres-sf li:nth-child(3) {
	padding-bottom: 5px;
}

.textpres-sf li:nth-child(1)::before  {
	content: url('/wp-content/uploads/2017/08/1.png');
	position: absolute;
	left: 0;
}

.textpres-sf li:nth-child(2)::before {
	content: url('/wp-content/uploads/2017/08/2.png');
	position: absolute;
	left: 0;
}

.textpres-sf li:nth-child(3)::before {
	content: url('/wp-content/uploads/2017/08/3.png');
	position: absolute;
	left: 0;
}

.textpres-sf span {
	font-size: 12px;
	color: #9E9E9E;
}

.textpres-sf span::before {
	content: "";
	z-index: -1;
	position: absolute;
	top: 11em;
	left: 15px;
	width: 1px;
	height: 120px;
	background-color: rgba(177, 210, 230, 0.55);
}

#button-reg {
	padding-top: 20px;
	margin-left: 0.5em;
	order: 2;
}

.textpres-sf a.button-reg {
	border: 1px solid #ED773C;
	border-radius: 3px;
	background: #ED773C;
	padding: 1em 1.5em;
	color: white;
	text-decoration: none;
}

.contacts-sf {
	padding-top: 30px;
}

.contacts-sf p {
	text-align: left;
	font-size: 14px;
}

.contacts-sf p:first-child {
	padding-bottom: 0em;
}

.contacts-sf p:nth-child(3) {
	padding-bottom: 0;
}

.contacts-sf ul {
	margin: 0.5em 1.3em;
	font-size: 14px;
}

.contacts-sf ul li {
	line-height: 30px!important;
}

.contacts-sf a {
	text-decoration: underline;
}

.contacts-sf span {
	font-weight: bold;
}

@media all and (max-width: 1400px) {
.presentation-sf {
	padding: 0;
}
}

@media all and (max-width: 1211px) {
.presentation-sf h1 {
	text-align: left!important;
}
}

@media all and (max-width: 768px) {
.textpres-sf span::before {
	content: none;
}
#button-reg {
    margin-left: 0em;
}
}



/*информ окошко*/

.info-tooltip {
	position: relative;
	display: inline-block;
}
.info-tooltip .info-tooltiptext {
	visibility: hidden;
	width: 300px;
	padding: 5px 0;
	position: absolute;
	background: #fff;
	border: 1px solid #dde0e1;
	color: #666666;
	font-weight: lighter;
	font-style: normal;
	font-size: 14px;
	line-height: 20px;
	text-align: left;
	border-radius: 3px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .09);
	z-index: 20;

}
.info-tooltip p:first-child {
	display: block;
	width: 20px;
	height: 20px;
	position: relative;
	font-family: Georgia, serif;
	font-size: 10px;
	color: #1e59a1;
	border-radius: 50%;
	border: 1px solid #1e59a1;
	text-align: center;
	font-style: italic;
	cursor: pointer;
	padding-bottom: 0;
}
.info-tooltip:hover .info-tooltiptext {
	visibility: visible;
}


.woocommerce-billing-fields .create-account p:first-child {
	display: none;
}


/*библиотека профессий*/

#llsearch {
	padding-top: 0px!important;
}

.search input[type=submit] {
	display: none;
}
/* old */
.search_linklistcatname {
	padding: 5px 0px 9px 0px!important;
	color: #3F3E3E!important;
	font-size: 15px!important;
	display: block!important;
}
.search_LinkLibraryCat ul {
	margin-left: 5px;
}
.search_LinkLibraryCat ul li {
	list-style: none;
	padding: 10px 30px;
}
.search_LinkLibraryCat ul li a {
	font-weight: bold;
	margin: 0 1em 0 0.5em!important;
	font-family: inherit;
	font-size: 14px;
	line-height: 16px;
	color: #3F3E3E;
}


/* new */
.linklistcatname {
	padding: 5px 0px 5px 21px!important;
	color: #3F3E3E!important;
	font-size: 15px!important;
	background-image: url(https://scanface.ua/wp-content/uploads/2016/06/3_стрілка.png);
	background-position: left center;
	background-repeat: no-repeat;
	font-weight: bold;
	cursor: pointer;

}
.LinkLibraryCat .open {
	background-image: url(https://scanface.ua/wp-content/uploads/2016/06/4_arrow.png);
	background-position: left center;
	background-repeat: no-repeat;
}
.LinkLibraryCat {
	padding: 5px 0px 9px 0px;
}
.LinkLibraryCat ul {
	margin-left: 5px;
	display:none;
	z-index: 6;
	margin: 0px;
	position: absolute;
	background: #FFF none repeat scroll 0% 0%;
	width: 50%;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.2);
}
.LinkLibraryCat ul li {
	list-style: none;
	padding: 10px 30px;	
}
.LinkLibraryCat ul li a {
	font-weight: bold;
	margin: 0 1em 0 0.5em!important;
	font-family: inherit;
	font-size: 14px;
	line-height: 16px;
	color: #3F3E3E;
}
ul li a.track_this_link::before {
	content: url(https://scanface.ua/wp-content/uploads/2016/12/bags.png);
	position: relative;
	left: -0.5em;
	top: 0.2em;
}
span.editlink { 
	display:none;
}
#linklist1 {
	column-count: 2;
	column-gap: 3em;
	-webkit-column-count: 2;
	-webkit-column-gap: 3em;
	-moz-column-count: 2;
	-moz-column-gap: 3em;
	-o-column-count: 2;
	-o-column-gap: 3em;
}
@media all and (max-width: 767px) {
#linklist1 {
	column-count: 1;
	column-gap: 0;
	-webkit-column-count: 1;
	-webkit-column-gap: 0;
	-moz-column-count: 1;
	-moz-column-gap: 0;
	-o-column-count: 1;
	-o-column-gap: 0;
}
}

/*Custom*/

#page-header-bg h1 {
    margin-bottom: 2.5rem;
}

#footer-outer {
	z-index: 9!important;
}

#header-secondary-outer {
	z-index: 99;
}

#header-outer {
	z-index: 88;
}

ul.find-prof {
	border: none!important;
}

input#admin_logs {
	width: 15px;
	height: 15px;
}

#webCamCapture {
	display: block;
}

body .container .woocommerce-message a.button {
	text-transform: none;
}

.order-actions a.button {
	padding: 7px 20px;
	margin: 0 4px;
}

.woocommerce-additional-fields {
	display: none;
}

section.woocommerce-customer-details {
	display: none;
}

input#reg_username {
	border-left: 5px solid rgb(30, 89, 161);
}

.checkout .woocommerce-billing-fields {
	padding-bottom: 0px!important;
}

.woocommerce-billing-fields input.input-text {
	width: 235px!important;
}

form[name="checkout"] .woocommerce-account-fields input.input-text {
	width: 235px;
	box-sizing: border-box;
	border: none;
	border-bottom: 2px solid #a7a7a7;
	background-color: rgba(245, 245, 245, 0);
}

form[name="checkout"] .woocommerce-account-fields p {
	margin: 0 0 0 61px;
	width: 49%;
	padding: 1px;
}

form[name="checkout"] .woocommerce-account-fields .woocommerce-password-strength {
	width: 235px;
}

h3#order_review_heading {
	padding-top: 28px;
}

.woocommerce a.remove {
	height: 1.5em;
	width: 1.5em;
	line-height: normal;
}

/*tempurary*/

.woocommerce-info {
	max-width: 300px;
	border-radius: 3px!important;
	font-size: 18px;
}

